---
import { parse } from 'node-html-parser';

import wordpress from '../wordpress';
import OptimizedPicture from './OptimizedPicture.astro';

let {
	data: { posts },
} = await wordpress.getPosts(6, '');

let list = posts.map((p) => ({
	title: parse(p.title).text,
	date: new Date(p.date),
	categories: wordpress.getCategoriesFromPost(p),
	shortText: wordpress.getExcerptFromPost(p, 275),
	image: p.featured_image,
	id: p.ID,
	slug: p.slug,
}));
---

{
	list.map((article) => (
		<article class="mt-10 md:flex md:items-center md:h-[263px]">
			<OptimizedPicture
				src={article.image}
				class="object-cover w-full h-96 mb-4 md:min-w-[263px] md:max-w-[263px] md:h-full md:mb-0"
				alt={article.title}
			/>
			<div class="md:ml-7">
				<a href={`/posts/${article.slug}`}>
					<h3 class="title-small">{article.title}</h3>
					<span class="text-overline-small">
						{article.date.toLocaleDateString('el-gr')} •
						{article.categories.map((c) => c + ' ')}
					</span>
				</a>
				<p class="text-body-small mt-4"> {article.shortText} </p>
				<a
					class="block mt-6 text-button hover:text-primary"
					href={`/posts/${article.slug}`}
				>
					Περισσότερα
				</a>
			</div>
		</article>
	))
}
