---
import { Picture } from 'astro-imagetools/components';
const { src, alt, height, title, class: cl } = Astro.props;
---

{
	src != null && src.length > 0 ? (
		<div class={cl}>
			<figure>
				<a href={src}>
					<div class="center-content">
						<Picture
							src={src}
							alt={alt}
							height={Math.min(height, 700)}
							format={['avif', 'webp']}
							fallbackFormat="jpeg"
							includeSourceFormat={false}
							loading="lazy"
							objectPosition="center"
							attributes={{ class: cl }}
						/>
					</div>
				</a>
				<figcaption>{alt}</figcaption>
			</figure>
		</div>
	) : (
		''
	)
}
<style>
	.center-content {
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
	}
	figcaption {
		font-style: italic;
		opacity: 0.75;
		text-align: center;
		font-size: 0.9em;
	}
</style>
