---
import Author from './Author.astro';
import BlogPicture from './BlogPicture.astro';
import { parse } from 'node-html-parser';
import RecommendedPost from './RecommendedPost.astro';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
	text: string;
}

const { title, author, publishDate, heroImage, alt, text, id } = Astro.props;

const parsed_post = parse(text);
function addIframeClasses(node) {
	node.classList.add('outline-none');
	node.classList.add('w-full');
}

let recommended = [];

try {
	let resp = await fetch(
		'http://N33J498LJ3-dsn.algolia.net/1/indexes/*/recommendations',
		{
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-Algolia-Api-Key': import.meta.env.ALGOLIA_KEY,
				'X-Algolia-Application-ID': import.meta.env.ALGOLIA_APPLICATION,
			},
			body: JSON.stringify({
				requests: [
					{
						indexName: 'dev_mpompina',
						model: 'related-products',
						objectID: id.toString(),
						threshold: 0,
						maxRecommendations: 4,
					},
				],
			}),
		}
	);

	let rec = await resp.json();
	recommended = rec?.results?.[0]?.hits?.map((r) => ({
		title: r.title,
		id: r.objectID,
		image: r.imageUrl,
	}));
} catch (error) {
	console.error(error);
}

// recommended = [
// 	{
// 		title: 'Ιαπωνικός Κινηματογράφος: ‘‘Like grains of sand’’',
// 		image: 'https://mpompina.files.wordpress.com/2022/06/maxresdefault-2.jpg',
// 		id: '1630',
// 	},
// 	{
// 		title: 'Ιαπωνικός Κινηματογράφος: ‘‘Like grains of sand’’',
// 		image: 'https://mpompina.files.wordpress.com/2022/06/maxresdefault-2.jpg',
// 		id: '1630',
// 	},
// 	{
// 		title: 'Ιαπωνικός Κινηματογράφος: ‘‘Like grains of sand’’',
// 		image: 'https://mpompina.files.wordpress.com/2022/06/maxresdefault-2.jpg',
// 		id: '1630',
// 	},
// 	{
// 		title: 'Ιαπωνικός Κινηματογράφος: ‘‘Like grains of sand’’',
// 		image: 'https://mpompina.files.wordpress.com/2022/06/maxresdefault-2.jpg',
// 		id: '1630',
// 	},
// ];

// remove first image since it's the hero image:
parsed_post.getElementsByTagName('img')[0]?.remove();
---

<div class='layout mb-20 mx-auto'>
	<article class='px-5'>
		<div>
			<header class='md:max-w-[750px] mx-auto'>
				{heroImage && (
					<img
						width="720"
						height="420"
						class="object-cover max-w-full "
						loading="lazy"
						src={heroImage}
						alt={alt}
					/>
				)}
				<h1 class='title-large mb-4 mt-5'>{title}</h1>
			</header>

			<main class='text-body'>
				{parsed_post.childNodes.map((v) => {
					if (v.tagName != null) {
						v.classList.add('my-4')
						v.classList.add('mx-auto')
						v.classList.add('md:max-w-[750px]')
					}

					if (v.childNodes.length > 0) {
						for (let n of v.childNodes) {
							if (n.tagName == 'IMG') {
								return (
									<BlogPicture
										src={n.getAttribute('data-orig-file')}
										alt={n.getAttribute('alt')}
										title={n.getAttribute(
											'data-image-title'
										)}
										height={n.getAttribute('height')}
										class="my-4 md:max-w-xl"
									/>
								)
							} else if (n.tagName == 'IFRAME') {
								addIframeClasses(n)
							}
						}
					}

					return v
				})}
			</main>

			<p class='md:max-w-[750px] mx-auto text-body italic'>
				Δημοσιεύθηκε στις {new Date(publishDate).toLocaleDateString(
					'el-gr'
				)}
			</p>

			<div class='md:max-w-[1140px] mx-auto'>
				<h5 class='mt-14 mb-10 title-medium md:text-center'>
					Διαβάστε ακόμα
				</h5>
				<div class='md:flex md:justify-center'>
					{recommended.map((r) => (
						<RecommendedPost
							title={r.title}
							image={r.image}
							id={r.id}
							class="mb-5 md:mx-2 md:max-w-[25%]"
						/>
					))}
				</div>
			</div>
		</div>
	</article>
</div>
