---
//script here
import wordpress from '../wordpress';
import { parse } from 'node-html-parser';

let {
	data: { posts },
} = await wordpress.getStickyPosts();

let post = posts[0];
// console.log(post.categories);

let post_categories = Object.keys(post.categories);
---

<article>
	<a
		href={`/posts/${post.ID}`}
		class="flex flex-col md:flex-row md:items-center"
	>
		<img
			src={post.featured_image}
			alt=""
			class="w-full max-h-[240px] md:max-h-[383px] object-cover md:max-w-[555px] md:flex-1"
		/>
		<div class="md:my-11 md:ml-11 md:flex-1">
			<p class="text-overline mt-6">{post_categories}</p>
			<h3 class="title-large my-4">{parse(post.title).text}</h3>
			<p class="text-body">
				{parse(post.excerpt).text}
			</p>
		</div>
	</a>
</article>
