---
//script here
import wordpress from '../wordpress';
import { parse } from 'node-html-parser';

let {
	data: { posts },
} = await wordpress.getStickyPosts();

let post = posts[0];
// console.log(post.categories);

let post_categories = Object.keys(post.categories);
---

<article>
	<a href={`/posts/${post.ID}`}>
		<img
			src={post.featured_image}
			alt=''
			class='w-full max-h-[240px] object-cover'
		/>
		<div>
			<p class='text-overline mt-6'>{post_categories}</p>
			<h3 class='title-large my-4'>{post.title}</h3>
			<p class='text-body'>
				{parse(post.excerpt).text}
			</p>
		</div>
	</a>
</article>
