---
import OptimizedPicture from './OptimizedPicture.astro';
import wordpress from '../wordpress';
import { parse } from 'node-html-parser';

let {
	data: { posts },
} = await wordpress.getPosts();

let post = posts[0];
// console.log(post.categories);

let post_categories = wordpress.getCategoriesFromPost(post).join(' ');
---

<article>
	<a
		href={`/posts/${post.slug}`}
		class="flex flex-col md:flex-row md:items-center"
	>
		<!-- <img
			src={post.featured_image}
			alt=""
			class="w-full max-h-[240px] md:max-h-[383px] object-cover md:max-w-[555px] md:flex-1"
		/> -->
		<OptimizedPicture
			src={post.featured_image}
			alt={parse(post.title).text}
			class="w-full overflow-hidden max-h-[240px] md:max-h-[383px] object-cover md:max-w-[555px] md:flex-1"
		/>
		<div class="md:my-11 md:ml-11 md:flex-1">
			<p class="text-overline mt-6">{post_categories}</p>
			<h3 class="title-large my-4">{parse(post.title).text}</h3>
			<p class="text-body">
				{wordpress.getExcerptFromPost(post)}
			</p>
		</div>
	</a>
</article>
