---
import OptimizedPicture from './OptimizedPicture.astro';

export interface Props {
	title: string;
	image: string;
	href: string;
	categories?: string[];
	class?: string;
}

const { title, image, href, categories, class: cl } = Astro.props;
---

<article class={cl}>
	<a href={href}>
		<OptimizedPicture
			src={image}
			class="object-cover w-full md:h-[186px] max-h-[247px] overflow-hidden"
			alt={title}
		/>
		<h6 class="title-small mt-2">{title}</h6>
		{
			categories &&
			categories.map((c) => (
				<a
					href={'/categories/' + c.slug}
					class="text-overline-small hover:text-primary"
				>
					{c.name}
				</a>
			))
		}
	</a>
</article>
