---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import Analytics from '../components/Analytics.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
const {
	title,
	description,
	publishDate,
	author,
	heroImage,
	permalink,
	alt,
	text,
} = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<Analytics />
		<BlogHeader />
		<BlogPost {title} {author} {heroImage} {publishDate} {alt} {text}>
			<slot></slot>
		</BlogPost>
		<Footer />
	</body>
</html>
